.home-section{
  background-image: url("../../../assets/images/contact-page-banner.jpg");
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  height: 500px;
}
