.login-details{
  background-image: url("../../../assets/images/contact-page-banner.jpg");
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  height: 500px;
}

.login-page{
  background-color: #fff;
  border-radius: 5px;
  margin-top: -30rem;
  margin-bottom: 4rem;
  padding: 1rem 3rem;
  box-shadow: 1px 1px 17px #79797a6b;
}